# 💟제목

## 부제목
$$f(x)=3+5x=1.2x^2$$
###### 내용

In [ ]:
a=10

In [3]:
x=list('[1,2,3,4,5]')
print(x)

['[', '1', ',', '2', ',', '3', ',', '4', ',', '5', ']']

In [ ]:
lambda

In [3]:
%who

var_x

In [6]:
a = 10
b = 20.0

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    20.0
var_x      str      박상준바보

In [8]:
%pwd

'/Users/kim-yeeun/Desktop/홍익 (7)/파이썬프로그래밍/파이썬'

In [9]:
%ls

첫.ipynb

In [2]:
var_x = 54321
var_y = 54321.123456789

print (f'var_x는 정수형이므로 d를 사용하여야 하고, {var_x:d}입니다.')
print(f'var_x를 총 20개의 자리에 표현하면, {var_x: 20d}입니다. ')
print(f'var_x를 총 20개의 자리에 왼쪽 정렬하여 표현하면, {var_x:<20d}입니다.')
print(f'var_y는 실수형이므로 f를 사용하여야 하고, {var_y: f}입니다. ')
print(f'var_y를 정수만 출하면 {var_y: 0f}입니다. ')
print(f'var_y를 소수점 5자리까지 출하면 {var_y: .5f}입니다.')
print(f'var_y를 20자리에 가운데 정렬하여 소수점 3자리까지 출력하면 {var_y:^20.3f}입니다. ')

var_x는 정수형이므로 d를 사용하여야 하고, 54321입니다.
var_x를 총 20개의 자리에 표현하면,                54321입니다.
var_x를 총 20개의 자리에 왼쪽 정렬하여 표현하면, 54321               입니다.
var_y는 실수형이므로 f를 사용하여야 하고,  54321.123457입니다.
var_y를 정수만 출하면  54321.123457입니다.
var_y를 소수점 5자리까지 출하면  54321.12346입니다.
var_y를 20자리에 가운데 정렬하여 소수점 3자리까지 출력하면      54321.123      입니다.

In [8]:
type(123)

int

In [9]:
a = 123
type(a)

int

In [11]:
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)

print(dir(a_list))
print()
print(dir(a_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [4]:
x_tuple = ('abcde', 12345)
print(f'Before: {x_tuple = }')

try:
    x_tuple[1] = 'fghij'
except TypeError as e:
    print(f'Error : {e}')

print(f'After : {x_tuple = }')

Before: x_tuple = ('abcde', 12345)
Error : 'tuple' object does not support item assignment
After : x_tuple = ('abcde', 12345)

In [7]:

var_x = 12345
print(f' {var_x}= {type(var_x)}', end='\n'+' -'*30+'\n')
var_y = float(var_x)
print(f' {var_y}= {type(var_y)}', end='\n'+' -'*30+'\n')
var_y = str(var_x)
print(f' {var_y}# {type(var_y)}', end='\n'+' -'*30+'\n')
var_y = bool(var_x)
print(f' {var_y}# {type(var_y)}')

 12345= <class 'int'>
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 12345.0= <class 'float'>
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 12345# <class 'str'>
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 True# <class 'bool'>

In [17]:
12345 * 12345.0

152399025.0

In [22]:
'abcd' * 4

'abcdabcdabcdabcd'

In [19]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [33]:
bool((' '))

True

In [36]:
for i in 'abcde':
    print(i)
#이터러블 객체에서 순차적으로 빼서 오라는 의미

a
b
c
d
e

In [42]:
range(0,100)

range(0, 100)

In [43]:
list(range(0,100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]